$prefixCls: 'react-modal-api';

.#{$prefixCls} {
  margin: 0 auto;
  position: relative;
  width: 100%;
  top: 0;

  $this: &;

  //Begin Zoom Effect
  &-zoom-appear,&-zoom-enter{
    opacity:0;
    visibility: visible;
    animation-duration:.3s;
    animation-fill-mode:both;
    animation-timing-function:cubic-bezier(.08,.82,.17,1);
    animation-play-state:paused
  }

  &-zoom-appear-active, &-zoom-enter-active
  {
    visibility: visible;
    animation-name: modalApiZoomIn;
    animation-play-state:running;
  }

  &-zoom-exit
  {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
    animation-play-state: paused;
  }

  &-zoom-exit-active
  {
    animation-name:modalApiZoomOut;
    animation-play-state:running;
  }

  &-zoom-exit-done{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  //End Zoom Effect

  //Begin Fade Effect
  &-fade-appear,&-fade-enter{
    opacity:0;
    visibility: visible;
    animation-duration:.3s;
    animation-fill-mode:both;
    animation-timing-function:cubic-bezier(.55,0,.55,.2);
    animation-play-state:paused
  }

  &-fade-appear-done,&-fade-enter-done{
    visibility: visible;
    animation-name:modalApiFadeIn;
    animation-play-state:running;
  }

  &-fade-exit{
    animation-duration:.3s;
    animation-fill-mode:both;
    animation-timing-function:cubic-bezier(.55,0,.55,.2);
    animation-play-state:paused;
  }

  &-fade-exit-active{
    animation-name:modalApiFadeOut;
    animation-play-state:running
  }

  &-fade-exit-done{
    opacity: 0;
    visibility: hidden;
  }
  //End Fade Effect
}

.#{$prefixCls}-centered {
  text-align: center;
  &::before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  .#{$prefixCls} {
    top: 0;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.#{$prefixCls}-mask {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #00000073;
}

.#{$prefixCls}-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  z-index: 1000;
}

.#{$prefixCls}-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
}

.#{$prefixCls}-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  color: #00000073;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: none;

  &:hover {
    color: #000000bf;
    text-decoration: none;
  }
}

@keyframes modalApiZoomIn{
  0%{
    opacity:0;
    transform:scale(0)
  }
  100%{
    opacity:1;
    transform:scale(1)
  }
}
@keyframes modalApiZoomOut{
  0%{
    transform:scale(1)
  }
  100%{
    opacity:0;
    transform:scale(0)
  }
}

@keyframes modalApiFadeIn{
  0%{
    opacity:0
  }
  100%{
    opacity:1
  }
}
@keyframes modalApiFadeOut{
  0%{
    opacity:1
  }
  100%{
    opacity:0
  }
}
