$prefixCls: 'react-modal-api';

.#{$prefixCls} {
  margin: 0 auto;
  position: relative;
  top: 30px;
  width: 100%;
}

.#{$prefixCls}-centered {
  text-align: center;
  &::before {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    content: '';
  }

  .#{$prefixCls} {
    top: 0;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.#{$prefixCls}-mask {
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 100%;
  background-color: #00000073;
  filter: alpha(opacity=50);
  &--hidden {
    display: none;
  }
}

.#{$prefixCls}-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  z-index: 1000;
  &--hidden {
    display: none;
  }
}

.#{$prefixCls}-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
}

